.container-list {
  background-color: #F7F8F8;
  padding: 34px;
  border-radius: 16px;
  width: 1600px;
  border: 1px solid #ececec;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.01);
  margin-top: 3em;
}

.title-container {
  font-weight: bold;
  font-size: 24px;
  margin-top: 2px
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.cards-container .card-container {
  width: calc(25% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 992px) {
  .cards-container .card-container {
    width: calc(33.33% - 20px);
  }
}

@media screen and (max-width: 768px) {
  .cards-container .card-container {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 576px) {
  .cards-container .card-container {
    width: calc(100% - 20px);
    margin-right: 0;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}

.card {
  width: 25%;
}
