.user-name {
    margin-bottom: 0;
    margin-top: 0;
}

.user-office {
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
}

.divider {
    margin-top: 3px;
    margin-left: 76px;
    margin-right: 76px;
}

.current-date {
    margin-top: 0;
    border-radius: 32px;
    background-color: #EDF2FF;
    padding: 0.5em;
    font-size: 14px;
    width: 132px;
    height: 40px;
    color: #242A2E;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.current-date img {
    margin-left: 16px;
}